@model _5Bites.Models.Employee_.Manage.ViewModel

@{
    ViewBag.Title = "Employees";
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tabs').tabs();
            $('.datatable').dataTable();
            $('.button').button();
        });
    </script>
}

<h2>Employees</h2>

<div class="tabs">
    <ul>
        <li><a href="#tab-manage">Manage</a></li>
        <li><a href="#tab-hire">Hire</a></li>
    </ul>
    <div id="tab-manage">
        <table class="datatable">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Permissions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model.Employees)
                {
                    <tr>
                        <td>@employee.Username</td>
                        <td>@Html.ActionLink("Edit Permissions", "Permissions", "Employee", new { id = employee.Id })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="tab-hire">
        @using (Html.BeginForm("Hire", "Employee"))
        {
            @Html.LabelFor(m => m.Hire.Username)
            @Html.TextBoxFor(m => m.Hire.Username)
            @Html.ValidationMessageFor(m => m.Hire.Username)
            @Html.LabelFor(m => m.Hire.Password)
            @Html.PasswordFor(m => m.Hire.Password)
            @Html.ValidationMessageFor(m => m.Hire.Password)

            @Html.LabelFor(m => m.Hire.IsAdmin)
            @Html.CheckBoxFor(m => m.Hire.IsAdmin)
            <div>
                <h3>Can Sell</h3>
                @for (int i = 0; i < Model.Hire.Stores.Count; ++i)
                {
                    @Html.HiddenFor(m => m.Hire.Stores[i].Id)
                    @Html.LabelFor(m => m.Hire.Stores[i].HasAccess, Model.Hire.Stores[i].Name)
                    @Html.CheckBoxFor(m => m.Hire.Stores[i].HasAccess)
                }
            </div>
            <div>
                <h3>Can Manage Inventory</h3>
                @for (int i = 0; i < Model.Hire.Locations.Count; ++i)
                {
                    @Html.HiddenFor(m => m.Hire.Locations[i].Id)
                    @Html.LabelFor(m => m.Hire.Locations[i].HasAccess, Model.Hire.Locations[i].Name)
                    @Html.CheckBoxFor(m => m.Hire.Locations[i].HasAccess)
                }
            </div>
            <br />
            <input type="submit" value="Hire" class="button" />
        }
    </div>
</div>