@model _5Bites.Models.EmployeeManageViewModel

@{
    ViewBag.Title = "Employees";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabs').tabs();
        });
    </script>
}

<h2>Employees</h2>

<div id="tabs">
    <ul>
        <li><a href="#tab-manage">Manage</a></li>
        <li><a href="#tab-hire">Hire</a></li>
    </ul>
    <div id="tab-manage">
        <table>
            <tbody>
                @foreach (var employee in Model.Employees)
                {
                    <tr>
                        <td>@employee.Username</td>
                        <td>@Html.ActionLink("Edit Permissions", "Permissions", "Employee", new { id = employee.Id }, new { })</td>     <!-- none -->
                        <td>@Html.ActionLink("Fire", "Fire", "Employee", new { id = employee.Id }, new { })</td>                        <!-- all -->
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="tab-hire">
        @Html.Partial("_EmployeeHirePartial", new _5Bites.Models.EmployeeManageHireModel())                                             <!-- mostly -->
    </div>
</div>