@{
    ViewBag.Title = "Permissions";
}

@model _5Bites.Models.Employee_.Permissions.ViewModel

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.button').button();
        });
    </script>
}

<h2>Permissions For @Model.Username</h2>

@using (Html.BeginForm("Permissions", "Employee", new { id = UrlParameter.Optional }))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.Id)
    @Html.LabelFor(m => m.IsAdmin)
    @Html.CheckBoxFor(m => m.IsAdmin)
            <div>
                <h3>Can Sell</h3>
                <table>
                        <tr>
                            @for (int i = 0; i < Model.Stores.Count; ++i)
                            {
                                <td>@Html.LabelFor(m => m.Stores[i].HasAccess, Model.Stores[i].Name)</td>
                            }
                        </tr>
                        <tr>
                            @for (int i = 0; i < Model.Stores.Count; ++i)
                            {
                                <td>@Html.HiddenFor(m => m.Stores[i].Id)
                                    @Html.CheckBoxFor(m => m.Stores[i].HasAccess)
                                </td>
                            }
                        </tr>
                </table>
            </div>
            <div>
                <h3>Can Manage Inventory</h3>
                
                <table>
                        <tr>
                            @for (int i = 0; i < Model.Locations.Count; ++i)
                            {
                                <td>@Html.LabelFor(m => m.Locations[i].HasAccess, Model.Locations[i].Name)</td>
                            }
                        </tr>
                        <tr>
                            @for (int i = 0; i < Model.Locations.Count; ++i)
                            {
                                <td>@Html.HiddenFor(m => m.Locations[i].Id)
                                    @Html.CheckBoxFor(m => m.Locations[i].HasAccess)
                                </td>
                            }
                        </tr>
                </table>
            </div>
    <input type="submit" value="Update" class="button" />
}