@model _5Bites.Models.HomeIndexViewModel

<h2>Welcome @Model.EmployeeName!</h2>

<h3>Sell Items</h3>
<p>
    @foreach (var store in Model.Stores)
    {
        @Html.ActionLink(store.Name, "Sell", "Store", new { id = store.Id }, new { })
    }
</p>

<h3>Transfer Inventory</h3>
@using (Html.BeginForm("Transfer", "Store"))
{
    <p>From: @Html.DropDownListFor(m => m.PostTransfer.FromId, new SelectList(Model.Locations, "Id", "Name"))</p>
    <p>To: @Html.DropDownListFor(m => m.PostTransfer.ToId, new SelectList(Model.Locations, "Id", "Name"))</p>
    <input type="submit" value="Transfer" />
}

<h3>Administration</h3>
@if (Model.IsAdmin)
{
    <p>@Html.ActionLink("Manage Employees", "Manage", "Employee")</p>
    <p>@Html.ActionLink("Purchase Inventory", "Purchase", "Store")</p>
}