@{
    ViewBag.Title = "Welcome " + Session.Contents["EmployeeName"] +"!";
}

<h2>Welcome @Session.Contents["EmployeeName"]!</h2>

<p>@Html.ActionLink("Sell Items", "Sell", "Store")</p>                      <!-- all -->
<p>@Html.ActionLink("Transfer Inventory", "Transfer", "Inventory")</p>      <!-- none -->

@if ((bool)Session.Contents["EmployeeAdmin"])
{
    <h3>Administration</h3>
    <p>@Html.ActionLink("Manage Employees", "Manage", "Employee")</p>       <!-- all -->
    <p>@Html.ActionLink("Purchase Inventory", "Purchase", "Inventory")</p>  <!-- none -->
}