@model _5Bites.Models.Home.Transactions.ViewModel

@{
    ViewBag.Title = "Transactions";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    @Styles.Render("~/Content/themes/base/css")  
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datatable').dataTable();
        });
    </script>
}

<h2>Transactions</h2>

<table class="datatable">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Store</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.Transactions)
        {
            <tr>
                <td>@Html.FormatValue(transaction.EmployeeName, "{0}")</td>
                <td>@Html.FormatValue(transaction.StoreName, "{0}")</td>
                <td>@Html.FormatValue(transaction.ProductName, "{0}")</td>
                <td>@Html.FormatValue(transaction.Quantity, "{0}")</td>
                <td>@Html.FormatValue(transaction.Timestamp, "{0:MM/dd/yyyy H:mm:ss}")</td>
            </tr>
        }
    </tbody>
</table>