@{
    ViewBag.Title = "Transfer";
}

@model _5Bites.Models.Inventory_.Transfer.ViewModel

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    @Styles.Render("~/Content/themes/base/css")
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tabs').tabs();
            $('.datatable').dataTable();
        });
    </script>
}

<!-- TODO: clean up this interface -->

<h2>Transfer</h2>
@Html.ValidationSummary()
<div class="tabs">
    <ul>
        @foreach (var location in Model.Locations)
        {
            <li><a href="@("#tab-" + location.Id)">@location.Name</a></li>
        }
    </ul>
    @using (Html.BeginForm("Transfer", "Inventory"))
    {
        for (int i = 0; i < Model.Locations.Count; ++i)
        {
            <div id="@("tab-" + Model.Locations[i].Id)">
                @Html.HiddenFor(m => m.Locations[i].Id)
                <table class="datatable">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int j = 0; j < Model.Locations[i].Inventory.Count;++j)
                        {
                            <tr>
                                @Html.HiddenFor(m => m.Locations[i].Inventory[j].Id)
                                <td>@Html.FormatValue(Model.Locations[i].Inventory[j].Name, "{0}")</td>
                                <td>@Html.TextBoxFor(m => m.Locations[i].Inventory[j].Quantity)
                                    (was @Html.FormatValue(Model.Locations[i].Inventory[j].Quantity, "{0}"))
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <input type="submit" value="Transfer" />
            </div>
        }
    }
</div>
