@model _5Bites.Models.Inventory_.Purchase.LocationModel

@using (Html.BeginForm("Purchase", "Inventory"))
{
    @Html.HiddenFor(m => m.Id)
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Inventory.Count; ++i)
            {
                @Html.HiddenFor(m => m.Inventory[i].Id)
                @Html.HiddenFor(m => m.Inventory[i].Price)
                <tr>
                    <td>@Html.FormatValue(Model.Inventory[i].Name, "{0}")</td>
                    <td>@Html.FormatValue(Model.Inventory[i].Price, "{0:C2}")</td>
                    <td>@Html.TextBoxFor(m => m.Inventory[i].Quantity)
                        (was @Html.FormatValue(Model.Inventory[i].Quantity, "{0}"))
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Purchase" />
}