@model _5Bites.Models.Employee_.Hire.ViewModel

@using (Html.BeginForm("Hire", "Employee"))
{
    @Html.LabelFor(m => m.Username)
    @Html.TextBoxFor(m => m.Username)
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    @Html.LabelFor(m => m.IsAdmin)
    @Html.CheckBoxFor(m => m.IsAdmin)
    <div>
        <h3>Can Sell</h3>
        @for (int i = 0; i < Model.Stores.Count; ++i)
        {
            @Html.HiddenFor(m => m.Stores[i].Id)
            @Html.LabelFor(m => m.Stores[i].HasAccess, Model.Stores[i].Name)
            @Html.CheckBoxFor(m => m.Stores[i].HasAccess)
        }
    </div>
    <div>
        <h3>Can Manage Inventory</h3>
        @for (int i = 0; i < Model.Locations.Count; ++i)
        {
            @Html.HiddenFor(m => m.Locations[i].Id)
            @Html.LabelFor(m => m.Locations[i].HasAccess, Model.Locations[i].Name)
            @Html.CheckBoxFor(m => m.Locations[i].HasAccess)
        }
    </div>
    
    <input type="submit" value="Hire" />
}