@model _5Bites.Models.Store_.Inventory.ViewModel

@{
    ViewBag.Title = "Inventory";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    @Styles.Render("~/Content/themes/base/css")
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datatable').dataTable();
            $('.tabs').tabs();
        });
    </script>
}

<h2>Current Inventory</h2>

<div class="tabs">
    <ul>
        @foreach (var store in Model.Stores)
        {
            <li><a href="@("#tab-" + store.Id)">@store.Name</a></li>
        }
    </ul>
    @foreach (var store in Model.Stores)
    {
        <div id="@("tab-" + store.Id)">
            <table class="datatable">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in store.Inventory)
                    {
                        <tr>
                            <td>@Html.FormatValue(product.Description, "{0}")</td>
                            <td>@Html.FormatValue(product.Price, "{0:C2}")</td>
                            <td>@Html.FormatValue(product.Quantity, "{0}")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>