@model _5Bites.Models.Store.Sell.ViewModel

@{
    ViewBag.Title = "Sell Items";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#store-tabs').tabs();
        });
    </script>
}

<h2>Sell Items</h2>
<div id="store-tabs">
    <ul>
        @foreach (var store in Model.Stores)
        {
            <li><a href="@("#tab-" + store.StoreId)">@store.StoreName</a></li>
        }
    </ul>
    @foreach (var store in Model.Stores)
    {
        <div id="@("tab-" + store.StoreId)">
            @Html.Partial("_StoreSellPartial", store)
        </div>
    }
</div>
