@model _5Bites.Models.Store_.Sell.ViewModel

@{
    ViewBag.Title = "Sell Items";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    @Styles.Render("~/Content/themes/base/css")
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datatable').dataTable();
            $('.tabs').tabs();
        });
    </script>
}

<h2>Sell Items</h2>
<div class="tabs">
    <ul>
        @foreach (var store in Model.Stores)
        {
            <li><a href="@("#tab-" + store.StoreId)">@store.StoreName</a></li>
        }
    </ul>
    @foreach (var store in Model.Stores)
    {
        <div id="@("tab-" + store.StoreId)">
            @Html.Partial("StoreSellPartial", store)
        </div>
    }
</div>
